TOKEN=

DATABASE_URL=

OWNER_ID=
SUPPORT_GUILD_ID=

ROLE_OWNER=
ROLE_DEPUTY=
ROLE_ADMIN=
ROLE_SENIOR_MOD=
ROLE_MOD=

ROLE_SERVER_OWNER=
ROLE_PROVIDER=
ROLE_MEMBER=

REPORT_CHANNEL=
APPEAL_CHANNEL=

AUDIT_LOG_CHANNEL=
REPORT_LOG_CHANNEL=
APPEAL_LOG_CHANNEL=
ROOM_LOG_CHANNEL=
ERROR_LOG_CHANNEL=
